<mat-toolbar>
  <mat-toolbar-row>
    <span>Walkers</span>
    <button mat-button [routerLink]="[routeInfoUser]">Perfíl</button>
    <button mat-button [routerLink]="[routeFormUser]">Formularios</button>
    <span class="spacer"></span>
    <button mat-icon-button aria-label="Menú" (click)="onLogout()">
      <mat-icon>menu</mat-icon>
    </button>

  </mat-toolbar-row>
</mat-toolbar>
<router-outlet></router-outlet>
