<form
  class="dynamic-form"
  [formGroup]="form"
  (submit)="onSubmit($event)"
  autocomplete="off"
>
  <mat-card>
    <mat-card-header *ngIf="inTitle">
      <mat-card-title>
        {{inTitle}}
      </mat-card-title>
      <mat-card-subtitle *ngIf="inSubtitle">
        {{inSubtitle}}
      </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <div fxLayout="column">
        <ng-container
          *ngFor="let field of fields"
          dynamicField
          [field]="field"
          [group]="form"
        >
        </ng-container>
      </div>
    </mat-card-content>
  </mat-card>
</form>
