<mat-toolbar>
  <span>{{ inTitle }}</span>
</mat-toolbar>
<mat-table [dataSource]="dataSource">
  <ng-container
    *ngFor="let column of columns(inColumns$ | async)"
    [cdkColumnDef]="column?.id"
  >
    <mat-header-cell *cdkHeaderCellDef>{{
      column?.description
    }}</mat-header-cell>
    <mat-cell *cdkCellDef="let row">
      {{ row && column?.id && column?.id ? row[column?.id] : "" }}
    </mat-cell>
  </ng-container>

  <ng-container cdkColumnDef="remove">
    <mat-header-cell *cdkHeaderCellDef> remove </mat-header-cell>
    <mat-cell *cdkCellDef="let row">
      <button mat-icon-button color="warn" aria-label="Remove" (click)="onRemove(row)" >
        <mat-icon>delete</mat-icon>
      </button>
    </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns$ | async">
  </mat-header-row>
  <mat-row
    *matRowDef="let row; columns: displayedColumns$ | async"
    (dblclick)="onDblClick(row)"
  >
  </mat-row>
</mat-table>
