<div fxLayout="column" fxFlex="30">
  <div>
    <wkr-list
      inTitle="Mis formularios"
      [inRemove]="true"
      [inColumns$]="formsState.headersData$"
      [inData$]="formsState.forms$"
      (outSelected)="onFormSelected($event)"
      (outRemove)="onRemove($event)"
    ></wkr-list>
  </div>
</div>

<div fxLayout="column" fxFlex="30">
  <div>
    <dynamic-form
      #infoForm
      inTitle="Datos generales"
      inSubtitle="* Información básica de tu formulario"
      [fields]="regConfigInfoForm"
    >
      <!-- (submit)="submit($event)" -->
    </dynamic-form>
    <dynamic-form
      #infoField
      inTitle="Campos"
      inSubtitle="* Agrega la información básica de cada campo de tu formulario"
      [fields]="regConfig"
      (submit)="submit($event)"
    >
    </dynamic-form>
  </div>

  <div style="position: fixed; bottom: 25px; right: 25px">
    <button fxFill mat-raised-button color="accent" (click)="onSaveForm()">
      Crear formulario
    </button>
  </div>

  <!-- <pre>
  {{ newFormsState.fieldsForm$ | async | json }}
  {{ newFormsState?.body$ | async | json }}
  {{ newFormsState.fieldsForm$ | async | json }}
</pre> -->
</div>

<div fxLayout="column" fxFlex="30">
  <wkr-list
    inTitle="Formularito"
    [inColumns$]="newFormsState.headersData$"
    [inData$]="newFormsState.fieldsForm$"
    (outSelected)="onSelected($event)"
  ></wkr-list>
</div>
